.bg-gray{
    background-color: #f5b560 !important;
}
.table-striped td, .table-striped th{
    color: white !important;
    border: 1px solid;
}
#bodytxt strong{
    font-size: 20px;
}
.table-striped{
    width: 95%;
    margin: auto;
}
#bodytxt{
    font-size: 13px;
    line-height: 22px;
}
#logo_img{
    width: 275px;
}
#caption-img{
    width: 500px;
}
.giaithuong{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxlotrinh_content{
    font-size: 18px;
    position: relative;
}
.boxlotrinh_content p{
    position: absolute;
    bottom: 5px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
@font-face {
    font-family: svn-missionx;
    src: url('SVN-MissionX.otf');
}
h1,h2,h3,h4,h5,h6, .overlink, .main-menu, .ui-tabs-anchor, #contact #form-submit{
    font-family: svn-missionx !important;
    font-weight: normal !important;
}
#tabs ul{
    display: flex;
    justify-content: space-between;
}
#tabs ul li{
    flex: 1;
}


@media only screen and (max-width: 600px) {
    #caption-img{
        width: 300px;
    }
}
